*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:focus,
a:hover {
  color: #ffffff;
  text-decoration: none;
}
ul{
  list-style: none;
}
ul{
  list-style: none;
}
.clearfix::after {
  content: " ";
  clear: both;
  display: block;
}
body {
  width: 100%;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 16px;
}
.masthead{
  width: 100%;
  background: #f74c55;
  color: #ffffff;
  position: relative;
  z-index: 1;
}
.masthead::before {
  position: absolute;
  top:0;
  left: 0;
  z-index: 2;
  background: url("../img/masthead_bg_left.png") no-repeat;
  content: " ";
  height: 494px;
  width: 613px;
}
.masthead::after {
  position: absolute;
  bottom:0;
  right: 0;
  z-index: 2;
  background: url("../img/masthead_bg_right.png") no-repeat;
  content: " ";
  height: 249px;
  width: 309px;
}

.masthead_inner {
  width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: 333;
}
.logo {
  float: left;
  font-size: 2.5em;
  font-family: 'Pacifico', cursive;
}
.nav-bg ul{
  float: right;
}
.nav-bg li{
  float:left;
  margin-right: 15px;
  line-height: 3.7em;
  text-transform: uppercase;
}
.nav-bg li:last-child {
  margin-right: 0;
}
.header-article {
  padding: 126.5px 190px;
  float: right;
}
.header-article_h1 {
  font-size: 2.5em;
}
.header-article_p {
  font-size: 1em;
  margin-top: 1em;
}
.btn_albinos {
  width: 140px;
  height: 40px;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  font-size: 1.2em;
  margin-top: 2em;
}
.btn_albinos:hover {
  background-color: rgba(255, 30, 32, 0.8);
  border: none;
  transition: background .3s ease;
}
article {
  width: 80%;
  margin: 0 auto;
}
.about {
  margin: 80px 90px;
}
.about h2{
  font-size: 1.6em;
  line-height: 2.4em;
}
.about p{
  font-size: 1em;
  line-height: 1.6em;
  text-align: justify;
}
ul.color_css {
  margin-top: 80px;
}
.color_css li {
  float: left;
  height: 35px;
  width: 35px;
}
.color_css li:nth-of-type(1){
  background-color: #ee732f;
}
.color_css li:nth-of-type(2){
  background-color: #f74c55;
}
.color_css li:nth-of-type(3){
  background-color: #2d5f3b;
}
.color_css li:nth-of-type(4){
  background-color: #404040;
}
.color_css li:nth-of-type(5){
  background-color: #fb636b;
}

/*method*/

.method {
  background: linear-gradient(to right, #404040 50%, #2d5f3b 50%);
}
.method_list {
  float: left;
  width: 33%;
  padding: 1.6em;
  color: #ffffff;
}
.method_1 {
  background-color: #404040;
}
.method_2 {
  background-color: #f74c55;
}
.method_3 {
  background-color: #2d5f3b;
}
.method_list h3 {
  font-size: 1.2em;
  line-height: 2.6em;
}
.method_list p{
  font-size: 0.8em;
  line-height: 1.6em;
  text-align: justify;
}
.icon-plus {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  float: right;
  margin-top: 1.2em;
}

.icon-plus:hover,
.icon-plus:active {
  background-color: rgba(255, 30, 32, 0.8);
  transition: background .3s ease;
}

.method_list h3::before{
  background: url(../img/spritesheet.png) no-repeat;
  display: inline-block;
  content: " ";
  margin-right: 0.8em;
}
.method_1 h3::before {
  width: 28px;
  height: 34px;
  background-position:-5px -5px;
}

.method_2 h3::before {
  width: 36px;
  height: 36px;
  background-position: -43px -5px;
}

.method_3 h3::before {
  width: 39px;
  height: 27px;
  background-position: -89px -5px;
}

.example {
  background: #404040 url("../img/article_bg.png") no-repeat center;
  background-size: cover;
  color: #ffffff;
  padding: 130px 215px;
  text-align: center;
}
.example h2{
  font-size: 42px;
}
.example .bold:hover {
  color: rgba(247, 76, 85, 1);
  transition: color .3s ease;
}
.line{
  background: url("../img/line.png") repeat-x;
  height: 8px;
}
footer {
  text-align: center;
  padding: 1.6em;
}

@media screen and (max-width: 1020px) {
  .masthead_inner,
  article {
    width: 90%;
  }
}

@media screen and (max-width: 860px) {
  .masthead_inner,
  article {
    width: 100%;
  }
  .masthead_inner {
   padding: 0 1em;
  }
  .method_list {
    width: 100%;
    display: block;
  }
  .header-article {
    padding-left: 0.3em;
  }
  .about {
    margin: 2em;
  }
  .example {
    padding: 4em 3em;
  }
}
@media screen and (max-width: 600px) {

}