*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:focus,
a:hover {
  color: #ffffff;
  text-decoration: none;
}
ul{
  list-style: none;
}
ul{
  list-style: none;
}
.clearfix::after {
  content: " ";
  clear: both;
  display: block;
}
body {
  width: 100%;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 16px;
}
.masthead{
  width: 100%;
  background: #f74c55 url("../img/masthead_bg.png") no-repeat center;
  background-size: cover;
  color: #ffffff;
}
.masthead_inner {
  width: 80%;
  margin: 0 auto;
}
.logo {
  float: left;
  font-size: 2.5em;
  font-family: 'Pacifico', cursive;
}
.nav-bg ul{
  float: right;
}
.nav-bg li{
  float:left;
  margin-right: 15px;
  line-height: 3.7em;
  text-transform: uppercase;
}
.nav-bg li:last-child {
  margin-right: 0;
}
.header-article {
  padding: 130px 190px;
  float: right;
}
.header-article_h1 {
  font-size: 2.5em;
}
.header-article_p {
  font-size: 1em;
  margin-top: 1em;
}
.btn_albinos {
  width: 140px;
  height: 40px;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  font-size: 1.2em;
  margin-top: 2em;
}
article {
  width: 80%;
  margin: 0 auto;
}
.about {
  margin: 80px 90px;
}
.about h2{
  font-size: 1.6em;
  line-height: 2.4em;
}
.about p{
  font-size: 1em;
  line-height: 1.6em;
}
ul.color_css {
  margin-top: 80px;
}
.color_css li {
  float: left;
  height: 35px;
  width: 35px;
}
.color_css li:nth-of-type(1){
  background-color: #ee732f;
}
.color_css li:nth-of-type(2){
  background-color: #f74c55;
}
.color_css li:nth-of-type(3){
  background-color: #2d5f3b;
}
.color_css li:nth-of-type(4){
  background-color: #404040;
}
.color_css li:nth-of-type(5){
  background-color: #fb636b;
}
.method {
  background: linear-gradient(to right, #404040 50%, #2d5f3b 50%);
}
.method_list {
  float: left;
  width: 33%;
  padding: 1.6em;
  color: #ffffff;
}
.method_1 {
  background-color: #404040;
}
.method_2 {
  background-color: #f74c55;
}
.method_3 {
  background-color: #2d5f3b;
}
.method_list h3 {
  font-size: 1.2em;
  line-height: 2.4em;
}
.method_list p{
  font-size: 0.8em;
  line-height: 1.6em;
  text-align: justify;
}
.icon-plus {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  float: right;
  margin-top: 1.2em;
}

.icon-plus:hover,
.icon-plus:active {
  background-color: rgba(255, 30, 32, 0.8);
}

.example {
  background: #404040 url("../img/article_bg.png") no-repeat center;
  background-size: cover;
  color: #ffffff;
  padding: 130px 215px;
  text-align: center;
}
.example h2{
  font-size: 42px;
}
.example .bold {
  font-weight: 800;
}
.line{
  background: url("../img/line.png") repeat-x;
  height: 8px;
}